.home-safty{

    &__div{
        background-color: $bg-lit;

        p{
            line-height: 2em;
            @include breakpoint-up(large){
                text-align: justify;
        
            }
        }
        h2{
            @include breakpoint-up(large){
                text-align: center;
                font-size: 2.5rem;
            }
        }
    }
}